html {
  scroll-behavior: smooth;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
    z-index: 1500;
}

/* Featurettes */
.feature-img img{
  max-width:100%;
}
.featurette-divider {
    margin: 5rem 0;
    /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    letter-spacing: -.05rem;
}

.navbar {
    margin-bottom: 20px;
    text-align: left;
    font: normal normal 600 19px/26px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
}

/* Slider css */
.card2-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 100px;
}
.slider {
    padding:39px 43px;
    background: #F8FAFC 0% 0% no-repeat padding-box;
    box-shadow: 0px 16px 48px #00000029;
    border-radius: 42px;
    max-height: 363px;
    height:50%;
    width:80%;
    max-width:1097px;
  }
  .slider .head {
    display:flex;
    align-items: center;
  }
  .slider .head h1 {
    margin-left: 13px;
    text-align: left;
    font: normal normal 900 25px/34px Nunito Sans;
    letter-spacing: 0px;
    color: #000000;
  }
  
  .wrapper {
    max-width:1000px;
    width: 100%;
    max-height: 363px;
    height:100%;
    transform: translate(7%,15%);
    position: relative;
  }
  .wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.85);
  }
  .wrapper i:first-child{
    left: -22px;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    --wid:1000px;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    overflow-y: visible;
    gap: 16px;
    max-height: 363px;
    max-width: var(--wid);
    height:100%;
    width: 100%;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card2 {
    cursor: grab;
    user-select: none;
  }
  .carousel .img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel .card2 {
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    width: 285px;
    height: 263px;
    list-style: none;
    cursor: pointer;
    padding:20px 25px;
    flex-direction: column;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 16px 48px #00000029;
    border-radius: 30px;
    opacity: 1;
  }
  .carousel .card2 .img {
    /* background: #8B53FF; */
    height: 50px;
    width:100%;
    justify-content: center;
    flex:.3;
  }
  .card2 .img img {
    width: 45px;
    height: 45px;
    align-self: flex-end;
    border-radius: 50%;
    object-fit: cover;
  }
  .carousel .card2 h2 {
    margin-left: 10px;
    align-self: flex-end;
    text-align: left;
    font: normal normal 600 12px/16px Nunito Sans;
    letter-spacing: 0px;
    flex:.7;
  }
  .carousel .card2  h2 span {
    font: normal normal 600 12px/16px Nunito Sans;
    letter-spacing: 0px;
    color: #615C5C;
    text-align: left;
  }
  span.text-body-secondary {
    display: flex;
    width: max-content;
  }
  .carousel .card2 .rating {
    font-size:0.6rem;
    align-self: flex-start;
    flex:.2;
  }
  .carousel .rating img {
    height:14px;
    width:14px;
  }
  .carousel .card2 >.desc{
    text-align: left;
    font: normal normal normal 13px/18px Nunito Sans;
    letter-spacing: 0px;
    color: #000000;
    margin: 10px;
    flex:.5;
  }
  

  /* div shape */
:root {
  --Wavy-background: #FAF8FC;
  --Wavy-size: 650px ;
}

.Wavy {
  background-color: var(--Wavy-background);
  position: relative;
  min-height: var(--Wavy-size);
  padding:120px 0px 120px 0px;
}
.Wavy::after {
  content: url(media/wave_down.svg);
  /* transform: ; */
  transform: rotate(180deg) scaleX(-1);

  /* Absolute position */
  bottom:var(--Wavy-size);
  left: 0;
  position: absolute;

  /* Size */
  width: 100%;
}

.Wavy::before {
  content: url(media/wave_down.svg);
  /* transform: ; */
  transform: scaleX(-1); 

  /* Absolute position */
  top:var(--Wavy-size);
  z-index:1;
  left: 0;
  position: absolute;
  width: 100%;
}

blockquote {
  position:relative;
  z-index:2;
  text-align: left;
  font: normal normal bold 35px/47px Nunito Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.card-text1 {
  text-align: left;
  font: normal normal normal 21px/28px Nunito Sans;
}
.card-title{
  font: normal normal bold 24px/32px Nunito Sans;
  letter-spacing: 0px;
  color: #000000;
}
.card-body1{
  max-width: 308px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
}
.desc1{
  width: 275px !important;
  height: 192px;
  /* UI Properties */
  background: transparent url('media/lorem_card1.svg') 0% 0% no-repeat padding-box;
  opacity: 1;
}
.btn-price {
  border:0; 
  margin-bottom:36px; 
  z-index:3; 
  width: 247px; 
  height: 65px; 
  background: #1492E6 0% 0% no-repeat padding-box; 
  box-shadow: 0px 16px 48px #000029; 
  border-radius: 33px; 
  font: normal normal 600 23px/31px Nunito Sans; 
  letter-spacing: 0px; 
  color: #FFFFFF; 
  position: relative;
}
.w32 {
  max-width:320px;
  text-align: left;
  font: normal normal normal 18px/24px Nunito Sans;
  letter-spacing: 0px;
  color: #000000;
  object-fit: scale-down;
}
.brands {
  max-height:100px;
}

/* RESPONSIVE CSS */
@media screen and (max-width:991px) and (min-width:570px){
  .w32{
    flex-direction:row !important;
    max-width:900px;
    margin-bottom:48px;
  }
  .w32 .card-body{
    max-width:60%;
  }
}
@media screen and (max-width: 1160px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
    --wid:700px ;
  }
}

@media screen and (max-width: 767px) {
  :root{
    --Wavy-size: calc(1344px) ;
  }
}
@media screen and (max-width: 800px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
    --wid: 400px;
  }
}

@media (min-width: 763px) {
  .bd-placeholder-img-lg {
      font-size: 3.5rem;
  }
}

/* RESPONSIVE CSS */
@media (min-width: 40em) {
  .featurette-heading {
      font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
      margin-top: 7rem;
  }
}
